#locator { position: absolute; visibility: visible; left: 300px; top: 357; z-index: 100; }
#locator2 { position: absolute; visibility: visible; left: 300px; top: 714; z-index: 200; padding-left: -5; margin-top: -200;}
#locator3 { position: absolute; visibility: visible; margin-left: 290; margin-top: -260;}

